/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* base styles */

/* minor third http://www.modularscale.com/?18&px&1.2&web&text */

html {
  font-size: 1.125em; /* 18px */
  line-height: 1.222em; /* 22px */
  color: #2FE;
  background-color: #000000;
  padding: 0; /* 22px */
}

h1 {
  font-size: 1.728em; /* 31.104px */
  line-height: 1.415em; /* 44px @ 31.104px em */
  padding-bottom: 2.1225em;
  padding: 0.7075em;
  font-family: Impact, Charcoal, sans-serif;
}

/* layout styles */

.register {
  width: 50%;
  margin: 0 auto;
}

input,
text,
email {
  width: 90%;
  padding: 1em;
  border-radius: 1.407em; /* 7.33px */
  border-style: none;
  font-size: 1em;
  color: #010101;
}


label {
  padding-bottom: 1.444em;
  float: left;
  color: #2FE;
  padding: 1.222em;
}
input {
  padding-left: 1.222em;
}

label,
input {
  display: inline-block;
}

label,
name,
email {
  padding-top: 1.444em;
  padding-bottom: 1.444em;
  padding-right: 0.407em;
}

.names {
  background: url(../img/light-purple.png);
}

.emails {
  background: url(../img/light-red.png);
}

.join {
  font-size: 1.125em; /* 18px */
  font-weight: 500;
  color: #222;
  background: url(../img/light-blue.png);
  transition: background 0.5s;
}

.join:hover {
  color: #000000;
  background: url(../img/light-green.png);
}

.button {
  padding: 0.407em;
  padding-top: 2.444em; /* 44px */
  width: 10.998em; /* 198px */
  padding-left: 1.222em;
}

p {
  padding-top: 1.728em;
  padding-left: 1.222em;
}

header {
  color: #DDD;
  background: url(../img/starwarscover.jpg) #222;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}